<div class="search">
  <%= render 'movie_search' %><br/>
</div>

<% if @movies %>
  <ul style="list-style-type:none;">
    <% @movies.each do |movie| %>
      <li><%= link_to movie.title, movie_path(api_ref: movie.api_ref) %> Vote Average: <%= movie.vote_average%></li>
    <% end %>
  </ul>
<% end %>
