<div class="search">
  <%= render 'movie_search' %><br/>
</div>

<% if @movies %>
  <table id='search-results'>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie_path(api_ref: movie.api_ref)%></td>
        <td class='spacer'></td>
        <td>Vote Average: <%= movie.vote_average%></td>
      </tr>
    <% end %>
  </table>
<% end %>
