<h1>Welcome to Viewing Party</h1>
<p>Please Register for an Account</p>
<%= render partial: 'shared/login', locals: {button_text: 'Register', new_user: true} %>
<%= link_to 'Already Registered? Log in Here', login_path %>
