<div class="form">
  <h3>Please Register for an Account</h3>
  <%= render partial: 'shared/login', locals: {button_text: 'Register', new_user: true} %>
  <%= link_to 'Already Registered? Log in Here', login_path %>
</div>
