<h1>Welcome to Viewing Party!</h1>

<body>
  <p>An application to explore movies and create a viewing party event for you and your friends to watch a movie together.</p>


  <%= render partial: 'shared/user_form', locals: {button_text: 'Log In', confirmation: false} %>
  <%= link_to 'Register', registration_path %>

</body>


