---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&query=yellow-submarine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/e1Z1t3VrVnM4qT51FHXeL9tUqxR.jpg","genre_ids":[16,12,35,14,10402],"id":12105,"original_language":"en","original_title":"Yellow
        Submarine","overview":"The Blue Meanies take over Pepperland, draining it
        of all its color and music, firing anti-music missiles, bonking people with
        green apples, and turning the inhabitants to stone by way of the pointed finger
        of a giant blue glove. As the only survivor, the Lord Admiral escapes in the
        yellow submarine and goes to Liverpool to enlist the help of the Beatles.","popularity":8.872,"poster_path":"/sgYUMZp6oYR3gdWjcS1gpxjWvwX.jpg","release_date":"1968-07-17","title":"Yellow
        Submarine","video":false,"vote_average":7.2,"vote_count":305},{"adult":false,"backdrop_path":"/faf7pkPZKk9vpPGK85xBoa03spP.jpg","genre_ids":[],"id":774533,"original_language":"en","original_title":"Yellow
        Submarine Sandwich","overview":"An animated Yellow Submarine spoof produced
        for The Rutles'' 1978 mockumentary All You Need Is Cash and featuring their
        song \"Cheese and Onions\". Screened as a standalone short film at the 1979
        Annecy International Animation Film Festival and The Museum of Modern Art.","popularity":0.704,"poster_path":"/4BWjTIuKwXCBoQUNxak9gxH0t0r.jpg","release_date":"1978-03-22","title":"Yellow
        Submarine Sandwich","video":false,"vote_average":0,"vote_count":0},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":671921,"original_language":"en","original_title":"The
        Beatles Yellow Submarine Adventure","overview":"A ride based on the film Yellow
        Submarine (1968), in which the viewers/passengers travel in the yellow submarine
        to save Pepperland from the Blue Meanies.","popularity":0.6,"poster_path":null,"release_date":"","title":"The
        Beatles Yellow Submarine Adventure","video":false,"vote_average":0,"vote_count":0}],"total_pages":1,"total_results":3}'
  recorded_at: Thu, 11 Feb 2021 02:24:08 GMT
recorded_with: VCR 6.0.0
