/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #313646;
  color: #FBFFFD;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-self: baseline;
  flex-direction: row;
}

a:link{
  color: white;
}

a:visited{
  color:white;
}

h1 {
  color: #FBFFFD;
  text-align: center;
}

input[type=submit] {
  background-color: #313646;
  border: 1px solid #9886CD;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

input[type=submit]:hover {
  background-color: #9886CD;
}

hr {
  border: 2px solid #9886CD;
}

ul {
  list-style-type: none;
}

.friends {
  text-align: left;
  padding-left: 12px;
}

.parties {
  text-align: left;
  padding-left: 12px;
}

.discover form {
  padding-top: 12px;
  flex-direction: column;
}

.search {
  padding-top: 12px;
  padding-left: 100px;
  display: flex;
  justify-content: space-around;
}

.card {
  border: 2px solid #b3b3b3;
  display: inline-block;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 3px 3px #b3b3b3;
}

.card h6 {
  font-size: 20px;
}

.in-section {
  border: 0.5px solid #b3b3b3;
}

.pending-requests {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.sent, .received {
  border: 0.5px solid #9886CD;
  text-align: left;
}

.spacer {
  width: 100px;
}

#reviews {
  text-align: left;
}

#cast-list {
  column-count: 2;
}

#movie-details {
  display: flex;
  text-align: left;
}

#search-results {
  display: flex;
  justify-content: space-around;
  text-align:left
}

#logout {
  position: fixed;
  text-align: right;
  bottom: 0;
  right: 0;
}
